body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
    text-align: center;
}

#info h1 {
    margin: 5px 0;
}
#info h2 {
    margin: 5px 0 30px 0;
}

#info {
    color: #000000;
    font-size: 20px;
    text-align: center;
}

#button {
    padding: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1FAC9E;
    color: #fff;
    text-decoration: none;
    border: 1px solid #1FAC9E;
    border-radius: 5px;
}

.button:hover {
    background-color: #3a7976;
    border: 1px solid #3A7976FF;
}

#imgs {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.img-container {
    width: 100%;
    margin-bottom: 20px;
}

.img-container img {
    width: 100%;
    height: auto;
}

footer {
    padding: 20px;
    background-color: #1FAC9E;
    color: #fff;
    text-align: center;
}

#logo {
    margin-bottom: 50px;
}
#logo img {
    max-width: 100%;
    height: auto;
}

/* Media queries pour rendre le site responsive */

@media screen and (min-width: 576px) {
    #imgs {
        padding: 0;
    }

    .img-container {
        width: 48%; /* Deux images par ligne à partir de 576px */
        margin-bottom: 20px;
    }

    .container {
        max-width: 540px; /* Limite la largeur du conteneur à 540px à partir de 576px */
        margin: 0 auto; /* Centre le conteneur */
    }

    #logo img {
        max-width: 60%;
    }

}

@media screen and (min-width: 768px) {
    #imgs {
        padding: 0;
    }

    .img-container {
        width: 48%; /* Deux images par ligne à partir de 768px */
        margin-bottom: 20px;
    }

.container {
        max-width: 720px; /* Limite la largeur du conteneur à 720px à partir de 768px */
        margin: 0 auto; /* Centre le conteneur */
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px; /* Limite la largeur du conteneur à 960px à partir de 992px */
        margin: 0 auto; /* Centre le conteneur */
    }
}
